.afzaliwp-wallet-wrapper {
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: space-between;
	align-items: start;

	.side {
		width: 30%;
		border: 1px solid #e2e2e2;
		background-color: #fff;
		padding: 10px;
		border-radius: 10px;

		form {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}

	.main {
		width: 70%;
		border: 1px solid #e2e2e2;
		background-color: #fff;
		padding: 10px;
		border-radius: 10px;
	}
}

.afzaliwp-wallet-alert {
	width: 100%;
	background-color: #fff;
	box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.04);
	padding: 5px 10px;
	border-radius: 5px;
}

@media screen and (max-width: 768px) {
	.afzaliwp-wallet-wrapper {
		flex-direction: column;

		.side, .main {
			width: 100%;
		}
	}
}